 body {
  font-family: 'Comic Sans MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf4d1;
}

header {
  background-color: #ffcc00;
  padding: 10px;
  border-bottom: 5px dashed #d2691e;
}

h1, h2, h3, p {
  text-align: center;
  color: #5c3d00;
}

h2 {
  color: #d2691e;
}

.container {
  display: flex;
  justify-content: center; /* centraliza a .container */
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem e texto dentro da card */
  width: 40%;
}

img {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.botao-voltar {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.botao-voltar:hover {
  background-color: darkorange;
}

footer {
  background-color: #ffcc00;
  text-align: center;
  color: #5c3d00;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 5px dashed #d2691e;
}