 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
            font-family: 'Comic Sans MS';
            margin: 0;
            background-color: #fdf6e3;
            color: #333;
        }
        header {
            background-color: #ee7919;
            padding: 15px;
            text-align: center;
        }
        header{
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }
        header nav a:hover {
            text-decoration: underline;
        }
         nav, ul, li, a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            margin: 0 15px;
        }
        main {
            padding: 20px;
            max-width: 900px;
            margin: auto;
        }
       .principal{
            background-color: white;
            margin-bottom: 20px;
            padding: 15px;
            border-left: 5px solid #d2691e;
            border-radius: 5px;
            box-shadow: 0 0 5px #ffefb0;
        }
        footer {
            background-color: #ee7919;
            color: #fff;
            text-align: center;
            padding: 10px;
            margin-top: 30px;
        }
         .voltar {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      border-radius: 5px;
    }

    .voltar:hover {
      background-color: #45a049;
    }