 body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #fdf6e3;
            color: #333;
        }
        header {
            background-color: #ee7919;
            padding: 15px;
            text-align: center;
        }
        header{
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }
        header nav a:hover {
            text-decoration: underline;
        }
        main {
            padding: 20px;
            max-width: 900px;
            margin: auto;
        }
       .principal{
            background-color: white;
            margin-bottom: 20px;
            padding: 15px;
            border-left: 5px solid #d2691e;
            border-radius: 5px;
            box-shadow: 0 0 5px #ffefb0;
        }
        h1 {
           color: #ee7919;
        }
        footer {
            background-color: #ee7919;
            color: #fff;
            text-align: center;
            padding: 10px;
            margin-top: 30px;
        }